.ui.violet.secondary.top.fixed.menu {
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 4px 11px -3px rgba(173,171,173,1);
  -moz-box-shadow: 3px 4px 11px -3px rgba(173,171,173,1);
  box-shadow: 3px 4px 11px -3px rgba(173,171,173,1);
}

h1.ui.header, h2.ui.header, h3.ui.header {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

/*.intro-background {
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c, #9651af);
  background: linear-gradient(to right, #fc6767, #ec008c, #9651af);
}*/

Icon {
  background-color: #000;
}

.centered.one.column.row, .centered.three.column.row > .ui.header {
  margin-top: 75px;
}

h1.ui.header.subnav.animated.fadeInDown {
  margin-top: 110px;
  font-family: 'Raleway', sans-serif;
}

.profile-img {
  border: solid #6435C9 2px;
  margin-top: 100px;
}

.social-btns {
  padding: 10px 0px 25px 0px;
}

.contact-btns {
  margin-top: 25px;
}

.body-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.71em;
  text-align: justify;
  max-width: 960px;
  margin: 0 auto;
}

.span-text {
  font-size: 1.2em;
  margin: 10px 0px;
}

.small-text {
  margin: 10px 0px 25px 0px;
  font-family: 'Raleway', serif;
}

h2.header.process-title {
  margin: 10px 0px 25px 0px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.misc-photo {
  padding: 25px 0px;
}

.card-desc-align {
  text-align: left;
  padding-top: 10px;
}

.demo-play {
  margin-left: 50px;
}

.row-section {
  height: 100%;
  border-bottom: solid #D3D3D3 .5px;
  background-color: #FFFFFF;
  /*border: solid red 2px;*/
}

.ui.header.row-section-title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.4em;
  margin-top: 50px;
}

.ui.header.row-section-text {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.4em;
  margin-bottom: 50px;
}

.accent-color {
  color: #6435C9; /*1678c2*/
}

.ui.header.pull-quote {
  max-width: 720px;
  margin: 25px auto;
  font-size: 2.4em;
  font-family: 'Playfair Display', sans-serif;
  color: #000000;
  opacity: .6;
}

.ui.header.intro-title {
  font-size: 4.8em;
  font-family: 'Playfair Display', serif;
}

.column-margin {
  padding: 25px 0px 75px 0px;
}

.ui.segment {
  padding: 50px;
}

.intro {
  margin: 100px 0px;
}

.grey-text {
  color: #000000;
  opacity: .65;
}

.footer-section {
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c, #9651af);
  background: linear-gradient(to right, #fc6767, #ec008c, #9651af);
}

h3.ui.header.footer-text {
  margin-top: 25px;
  font-weight: normal;
  color: #FFFFFF;
}

p.current-year {
  color: #FFFFFF;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
