body {
  background-color: #f0f0d0;
}
.centered.two.column.row, .centered.three.column.row > .ui.header {
  margin-top: 75px;
}

.profile-img {
  border: solid #1678c2 2px;
  margin-top: 10px;
}

.social-btns {
  padding: 10px 0px 25px 0px;
}

.contact-btns {
  margin-top: 25px;
}

.body-text {
  font-size: 1.2em;
  line-height: 1.3em;
  text-align: justify;
}

.span-text {
  font-size: 1.2em;
  margin: 10px 0px;
}

.small-text {
  margin: 10px 0px 25px 0px;
}

h2.header.process-title {
  margin: 10px 0px 25px 0px;
}

.misc-photo {
  padding: 25px 0px;
}

.process-number {
  padding: 4px 8px;
  margin: 25px 0px 200px 0px;
  background-color: #1678c2;
  border-radius: 50px;
  color: #FFFFFF;
}

.process-step {
  margin-top: 25px;
}

.card-desc-align {
  text-align: left;
  padding-top: 10px;
}

.demo-play {
  margin-left: 50px;
}

.row-section {
  height: 100%;
  border-bottom: solid #D3D3D3 .5px;
  background-color: #FFFFFF;
  /*border: solid red 2px;*/
}

.ui.header.row-section-title {
  font-size: 3em;
  margin-top: 50px;
}

.ui.header.row-section-text {
  font-size: 3em;
  margin-bottom: 50px;
}

.accent-color {
  color: #1678c2;
}

.ui.header.intro-title {
  font-size: 4em;
}

.column-margin {
  padding: 25px 0px 75px 0px;
}

.ui.segment {
  padding: 50px;
}

.intro {
  margin: 100px 0px;
}

.grey-text {
  color: #000000;
  opacity: .65;
}
